<?xml version="1.0" encoding="UTF-8"?>
<!--
    Конфигурация логирования для приложения Metro Navigator.
    Логируются события в консоль и файл с ротацией.
-->
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE_NAME">metro-navigator</Property>
    </Properties>

    <Appenders>
        <!-- Консольный аппендер -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Файловый аппендер с ротацией -->
        <RollingFile name="File"
                     fileName="${LOG_DIR}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!-- Ротация по времени (каждый день) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Ротация по размеру -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- Стратегия ротации (храним 5 файлов) -->
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="${LOG_FILE_NAME}-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Логгер для нашего приложения -->
        <Logger name="com.metro" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Логгер для алгоритма поиска пути -->
        <Logger name="com.metro.algorithm" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Корневой логгер -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>